name: Deploy

inputs:
  SSH_PRIVATE_KEY:
    type: string
    required: true
  ENVIRONMENT:
    description: Target deployment environment
    required: true
    default: 'production'

runs:
  using: composite
  steps:
    - uses: webfactory/ssh-agent@v0.9.0
      with:
        ssh-private-key: ${{ inputs.SSH_PRIVATE_KEY }}

    - uses: ruby/setup-ruby@v1
      env:
        BUNDLE_GEMFILE: ./Gemfile
      with:
        ruby-version: .ruby-version
        bundler-cache: true

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Kamal Deploy
      shell: bash
      run: |
        ./bin/kamal deploy -v --destination=${{ inputs.ENVIRONMENT }}

    - name: Kamal Release
      shell: bash
      env:
        DOCKER_BUILDKIT: 1
      if: ${{ cancelled() || failure() }}
      run: |
        ./bin/kamal lock release --destination=${{ inputs.ENVIRONMENT }}