name: Deploy

inputs:
  KAMAL_REGISTRY_USERNAME:
    type: string
    required: true
  KAMAL_REGISTRY_PASSWORD:
    type: string
    required: true
  SSH_PRIVATE_KEY:
    type: string
    required: true

runs:
  using: composite
  steps:
    - uses: webfactory/ssh-agent@v0.9.0
      with:
        ssh-private-key: ${{ inputs.SSH_PRIVATE_KEY }}

    - uses: ruby/setup-ruby@v1
      env:
        BUNDLE_GEMFILE: ./Gemfile
      with:
        ruby-version: .ruby-version
        bundler-cache: true


    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Kamal Deploy
      shell: bash
      env:
        KAMAL_REGISTRY_USERNAME: ${{ inputs.KAMAL_REGISTRY_USERNAME }}
        KAMAL_REGISTRY_PASSWORD: ${{ inputs.KAMAL_REGISTRY_PASSWORD }}
        DOCKER_BUILDKIT: 1
      run: |
        ./bin/kamal deploy

    - name: Kamal Release
      shell: bash
      env:
        KAMAL_REGISTRY_USERNAME: ${{ inputs.KAMAL_REGISTRY_USERNAME }}
        KAMAL_REGISTRY_PASSWORD: ${{ inputs.KAMAL_REGISTRY_PASSWORD }}
        DOCKER_BUILDKIT: 1
      if: ${{ cancelled() }}
      run: |
        ./bin/kamal lock release