service: databasus

image: <username>/databasus

servers:
  web:

proxy:
  ssl: true
  app_port: 4005

registry:
  server: ghcr.io
  username:
    - KAMAL_REGISTRY_USERNAME
  password:
    - KAMAL_REGISTRY_PASSWORD

builder:
  arch: amd64

volumes:
  - ./databasus-data:/databasus-data